@import url('./ButtonStyle.module.css');
.btn {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--fc-body);
    fill: var(--fc-body);
}

.btn:hover {
    border-color: var(--accent);
    background-color: var(--accent-light-opacity);
}

.btn-danger {
    color: var(--accent-danger);
}

.btn-danger:hover {
    background-color: var(--accent-danger-secondary) !important;
    color: #fff;
}

.btn:disabled {
    background-color: transparent !important;
    color: var(--border-color);
    /* background-color: rgba(var(--accent-rgb), 0.65) !important; */
}

.btn-danger:disabled {
    background-color: rgba(var(--border-color)) !important;
    color: var(--border-color);
}

.icon path {
    fill: #fff;
}
.icon svg {
    fill: #fff;
}
