.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    max-width: 720px;
}

.report {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid var(--border-color);
}
